<div class="container table table-dark">
  <div class="d-none d-sm-block">
    <div class="row heading-table padding-t-b-10 text-center">
      <div class="col-sm-2">Name</div>
      <div class="col-sm-2">Description</div>
      <div class="col-sm-2">Type</div>
      <div class="col-sm-2">Healthy</div>
      <div class="col-sm-2">Temperature</div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="row padding-t-b-10 text-center" *ngFor="let meal of list">
    <div class="col-sm-2" scope="row">{{meal.name}}</div>
    <div class="col-sm-2">{{meal.description ? meal.description : 'NO description'}}</div>
    <div class="col-sm-2">{{meal.type}}</div>
    <div class="col-sm-2">{{meal.healthy}}</div>
    <div class="col-sm-2">{{meal.temperature}}</div>
    <div class="col-sm-2">
      <a class="btn text-success" (click)="onEdit(meal)"><i class="fa fa-pencil"></i></a>
      <a class="btn text-danger" (click)="onDelete(meal.id)"><i class="fa fa-trash"></i></a>
    </div>
  </div>
</div>
