<div class="spacing-50"></div>
<h1 class="text-center">Register meal</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" placeholder="Name of meal" required>
    <div *ngIf="name.invalid && name.touched" class="validation-error">This field is required.</div>
  </div>
  <div class="form-group">
    <input name="description" #description="ngModel" [(ngModel)]="service.formData.description" class="form-control" placeholder="Description">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <input name="type" #type="ngModel" [(ngModel)]="service.formData.type" class="form-control" placeholder="Type" required>
      <div *ngIf="type.invalid && type.touched" class="validation-error">This field is required.</div>
    </div>
    <div class="form-group  col-md-4">
      <input name="healthy" #healthy="ngModel" [(ngModel)]="service.formData.healthy" class="form-control" placeholder="Healthy" required>
      <div *ngIf="healthy.invalid && healthy.touched" class="validation-error">This field is required.</div>
    </div>
    <div class="form-group  col-md-4">
      <input name="temperature" #temperature="ngModel" [(ngModel)]="service.formData.temperature" class="form-control" placeholder="Temperature" required>
      <div *ngIf="temperature.invalid && temperature.touched" class="validation-error">This field is required.</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>
</form>
<div class="text-center">
  <a (click)="resetForm()"
    (mouseover)="hover=true"
    (mouseleave)="hover=false"
    [ngStyle]="{color: hover==true  ? 'green' : '' }">
    <i class="fa fa-retweet"></i> Clear form
  </a>
</div>
<div class="spacing-50"></div>